<div class = "container">
<header>
    <h1>InstaPix</h1>
</header>   
  <div class="sign_up_form">
    <%= form_for @user do |f| %>
      <%= f.label :email %>
      <br>
      <%= f.email_field :email %>
      <br>
      <%= f.label :password %>
      <br>
      <%= f.password_field :password %>
      <br>
      <%= f.label :password_confirmation %>
      <br>
      <%= f.password_field :password_confirmation%> 
      <br> <br>
      <%=f.submit "Create account"%>
    <% end %>
  </div>

  <div class="sign_in_form">
    <p><%= flash[:alert] %></p>
    <%= form_tag sessions_path do |f| %>
      <%= label_tag :email %> 
      <%= text_field_tag :sign_in_email, params[:sign_in_email] %> 
      <%= label_tag :password %> 
      <%= password_field_tag :sign_in_password, params[:sign_in_password] %> 
     
      <%= submit_tag "Sign In" %>
    <% end %>
  </div>
</div>