<h1>InstaPix</h1>
<%= form_for @user do |f| %>
  <%= f.label :email %>
  <br>
  <%= f.email_field :email %>
  <br>
  <%= f.label :password %>
  <br>
  <%= f.password_field :password %>
  <br>
  <%= f.label :password_confirmation %>
  <br>
  <%= f.password_field :password_confirmation%> 
  <br> <br>
  <%=f.submit "Create account"%>
<% end %>