<h1>Instagram</h1>
<div>
<% notice%>
</div>
<%= @posts.each do |p| %>
  <%= image_tag p.image.url(:medium) %>
  <br>
  <%= p.caption %>
  <br>
  posted at: <%= p.created_at %>
  <br>
<% end  %>
<%= link_to "New Post", new_post_path %>
