<h1>Instapix</h1>

 <% if flash[:alert] %>
    <div class="notice"><%= flash[:alert] %></div>
  <% end %>

<%= @posts.each do |p| %>
  <%= image_tag p.image(:medium) %>
  <br>
  <%= p.caption %>
  <br>
  posted at: <%= p.created_at %>
  <br>
<% end  %>
<%= link_to "New Post", new_post_path %>
